<div class="row" :id="task.id">
  <div class="card task grey lighten-5">
    <div class="card-content card-content--thin">
      <div class="row">
        <div class="col col--fullheight s8 m10 l10">
          <div class="valign-wrapper">
            {{task.title}}
          </div>
        </div>
        <div class="col s4 m2 l2">
          <div class="valign-wrapper">
            <i class="material-icons card-edit-icon" @click="deleteTask">delete</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
