<div class="row" :id="htmlId">
  <div class="card task grey lighten-5" @click="onClick">
    <div class="card-content card-content--thin">
      <div class="row">
        <div class="col col--fullheight s8 m10 l10">
          <div class="valign-wrapper">
            {{title}}
          </div>
        </div>
        <div class="col s4 m2 l2">
          <div class="valign-wrapper">
            <i class="material-icons card-edit-icon">delete</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
